<ion-header>
  <ion-toolbar>
    <ion-title>
      Listado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

      <ion-item *ngFor="let parque of parques" (click)="irADetalle(parque)">
        <ion-label>
          <ion-text>
            <p>{{ parque.nombre | uppercase }}</p>
            <p *ngIf="parque.distancia">Distancia: {{ parque.distancia | number:'1.3-3' }} Km.</p>
          </ion-text>
        </ion-label>
        <ion-thumbnail slot="end" *ngIf="parque.foto">
          <img [src]="parque.foto">
        </ion-thumbnail>
      </ion-item>

    </ion-list>
</ion-content>
